.contentWrapper {
  min-height: 85vh;
  background-image: linear-gradient(
      to bottom,
      rgba(13, 15, 15, 0.83),
      rgba(150, 22, 236, 0.45)
    ),
    url("../../shared/images/loginBg.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formWrapper {
}
